html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  scroll-behaviour: smooth;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #242424;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

.background-scene {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  overflow-y: auto;
}

.logo-container {
  width: 100%;
  height: 15%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.logo-text {
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: conic-gradient(from -3deg at 54.24% 50%, rgba(12, 237, 156, 0.9) 3deg, #0FA17E 56deg, #3077FF 155deg, #0075FF 186deg, rgba(41, 90, 183, 0.92) 327deg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-bar-container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #2c2d2e;
  border-radius: 20px;
}

.date-picker-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  background: #242424;
  border-radius: 15px;
  border-color: #636363;
  height: 40%;
  width: 20%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #636363;
  position: relative;
  cursor: pointer;
}

.guest-menu {
  height: 110px;
  width: 100%;
  background-color: #2c2d2e;
  border: 1px solid #636363;
  border-radius: 15px;
}

.menu-container-guest {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2c2d2e;
  border-radius: 15px;
  display: none;
  margin-top: 10px;
}

.menu-container-guest.active {
  display: block;
}

.guest-menu-flex {
  display: none;
  display: block;
  height: 100%;
  width: 100%;
}
.guest-menu-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.guest-menu-content-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 5px;
}

.guest-menu-type {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
}

.guest-menu-number {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.guest-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.guest-menu-button-plus {
  height: 25px;
  width: 25px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #3077ff;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 30px;
  border: none;
}

.guest-menu-button-minus {
  height: 25px;
  width: 25px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 10px;
  border: none;
}

.minus-icon {
  height: 15px;
  width: 15px;
}

.plus-icon {
  fill: #fff;
}

.date-text {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -15%;
}

.calender-icon {
  width: 22px;
  height: 22px;
  fill: #636363;
}

.icon-help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: -15%;
}

.country-picker-form:hover {
  filter: brightness(0.95);
}

.icon-help-guest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20%;
}

.down-arrow {
  padding: 3px;
  margin-left: 5px;
}

.guest-form {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.guest-text {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
}

.country-picker-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  background: #242424;
  border-radius: 15px;
  border-color: #636363;
  height: 40%;
  width: 10%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #636363;
  position: relative;
  cursor: pointer;
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #2c2d2e;
  border: 1px solid #636363;
  border-radius: 15px;
  display: none;
  margin-top: 10px;
}

.menu-container.active {
  display: block;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item button {
  color: #fff;
  width: 100%;
  text-align: left;
  font-family: Inter;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
}

.menu-item button:hover {
  filter: brightness(0.8);
}

.country-text {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -10%;
  max-width: 150px;
  padding-left: 10px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: #3077ff;
  border-radius: 15px;
  border-color: #636363;
  height: 40%;
  width: 15%;
  padding: 5px;
  margin: 10px;
}

.search-button:hover {
  filter: brightness(0.8);
}

.search-button:active {
  background: #888181;
  color: #3077ff;
}

.button-text {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
  padding-bottom: 2%;
}

.content-box {
  width: 80%;
  height: auto;
  overflow: hidden;
  background-color: #2c2d2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 50px;
  padding: 50px;
  padding-left: 50px;
  box-sizing: border-box;
}

.content-card {
  width: 100%;
  background: rgba(133, 132, 132, 0.1764705882);
  flex-shrink: 0;
  height: 400px;
  border-radius: 15px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.card-photo {
  width: 500px;
  height: 300px;
  background: #2c2d2e;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-texts {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.card-main-text {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 40px !important;
  padding: 10px;
}

.card-sub-text {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 40px;
  letter-spacing: 0.5px;
}

.card-icons {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.card-icon {
  display: flex;
  flex-direction: row;
  padding: 12px;
  padding-left: 35px;
  align-items: center;
}

.card-icon-text {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  height: 100%;
  width: 30%;
}

.card-button {
  display: flex;
  background: #3077ff;
  border-radius: 15px;
  border-color: #636363;
  height: 10%;
  width: 70%;
  color: #FFF;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  margin-right: 20px;
  position: absolute;
}

.card-button:hover {
  filter: brightness(0.8);
}

.card-button:active {
  background: #888181;
  color: #3077ff;
}

.trip-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
  padding-bottom: 2%;
}

.trip-box {
  width: 80%;
  height: 100%;
  overflow: hidden;
  background-color: #2c2d2e;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.trip-rows {
  display: flex;
  flex-direction: row;
}

.trip-photo {
  width: 100%;
  height: 250px;
  background: rgba(133, 132, 132, 0.1764705882);
}

.trip-title {
  padding: 30px;
  padding-left: 60px;
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.trip-left-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.trip-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
  padding-bot: 30px;
  margin-left: 30px;
}

.trip-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.trip-cell-text {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
  align-items: center;
}

.trip-desc-subtitle {
  padding-left: 60px;
  color: #818181;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.trip-desc {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 30px;
  padding-left: 60px;
}

.trip-list {
  padding-left: 20px;
  padding-top: 0;
}

.trip-list-element {
  padding-bottom: 10px;
}

.trip-right-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  background-color: #2c2d2e;
  margin: 20px;
}

.trip-grid {
  display: grid;
  width: 75%;
  height: 60%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
}

.trip-grid-element-1 {
  grid-area: 1/1/2/2;
  background-color: rgba(133, 132, 132, 0.1764705882);
  padding: 15px;
  border-radius: 10px;
}

.trip-grid-element-2 {
  grid-area: 1/2/2/3;
  background-color: rgba(133, 132, 132, 0.1764705882);
  padding: 15px;
  border-radius: 10px;
}

.trip-grid-element-3 {
  grid-area: 1/3/2/4;
  background-color: rgba(133, 132, 132, 0.1764705882);
  padding: 15px;
  border-radius: 10px;
}

.trip-grid-element-4 {
  grid-area: 2/1/3/2;
  background-color: rgba(133, 132, 132, 0.1764705882);
  padding: 15px;
  border-radius: 10px;
}

.trip-grid-element-5 {
  grid-area: 2/2/3/3;
  background-color: rgba(133, 132, 132, 0.1764705882);
  padding: 15px;
  border-radius: 10px;
}

.trip-grid-element-6 {
  grid-area: 2/3/3/4;
  background-color: rgba(133, 132, 132, 0.1764705882);
  padding: 15px;
  border-radius: 10px;
}

.trip-grid-large-photo {
  height: 30%;
  width: 70%;
  padding: 20px;
  background-color: rgba(133, 132, 132, 0.1764705882);
  border-radius: 15px;
}

.trip-button {
  display: flex;
  background: #3077ff;
  border-radius: 15px;
  border-color: #636363;
  height: 10%;
  width: 70%;
  color: #FFF;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trip-button:hover {
  filter: brightness(0.8);
}

.trip-button:active {
  background: #888181;
  color: #3077ff;
}

.back-button {
  padding: 25px;
  background-color: transparent;
  border: none;
}

.back-arrow {
  background: transparent;
}

.final-page-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.final-page-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  background: #2c2d2e;
  padding: 30px;
  border-radius: 15px;
}

.final-page-left-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background: rgba(133, 132, 132, 0.1764705882);
  border-radius: 15px;
  padding: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.final-page-title {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: bold;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.final-page-subtitle {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
  margin-bottom: 2px;
}

.text-input {
  border: none;
  border-bottom: 1px solid #636363;
  padding: 7px;
  width: 80%;
  height: 20px;
  background: transparent;
  margin: 10px;
  color: #fff;
}

.text-input:focus {
  border: none;
  border-bottom: 2px solid #636363;
}

input[type=text]:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #636363;
}

.final-page-right-col {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background: rgba(133, 132, 132, 0.1764705882);
  border-radius: 15px;
  padding: 30px;
  margin: 30px;
}

.summary-photo {
  height: 100%;
  width: 80%;
  padding: 20px;
  background-color: rgba(133, 132, 132, 0.1764705882);
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.photo-div {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-icons-summary {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 5%;
}

.card-icon-summary {
  display: flex;
  flex-direction: row;
  padding: 12px;
  padding-left: 35px;
  align-items: center;
}

.card-icon-text-summary {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
  align-items: center;
}

.price-summary-div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.price-summary {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
}

.price-summary-button-div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  padding-top: 25px;
}

.button-summary {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
  height: 100%;
  width: 80%;
  background-color: #3077ff;
  border-radius: 15px;
  padding: 10px;
}

.button-summary:hover {
  filter: brightness(0.8);
}

.button-summary:active {
  filter: brightness(0.6);
}/*# sourceMappingURL=index.css.map */