@import "vars"

html
    overflow-y: scroll

html, body, #root
    width: 100%
    min-height: 100%
    margin: 0
    scroll-behaviour: smooth

body
    font-family: 'Inter', sans-serif
    font-size: 16px
    color: #fff
    background-color: $bg-page

    -webkit-font-smoothing: antialiased
    


.logo-container
    width: 100%
   
    display: flex
    align-content: center
    justify-content: center
    

.logo-text
    text-align: center
    font-size: 36px
    background: conic-gradient(from -3deg at 54.24% 50.00%, rgba(12, 237, 156, 0.90) 3deg, #0FA17E 56deg, #3077FF 155deg, #0075FF 186deg, rgba(41, 90, 183, 0.92) 327deg)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.navbar
    width: 80%
    display: flex
    flex-direction: column

.close-icon 
    display: flex
    justify-content: center
    align-items: center
    fill: #fff

.navbar-more
    display: flex
    
    align-content: center
    justify-content: center
    text-align: center
    align-items: center 

.navbar-logo
    width: 100%
    display: flex
    
    align-content: center
    justify-content: space-between
    text-align: center
    align-items: center 

.lead
    display: flex
    flex-direction: column
    justify-content: center
    padding-top: 64px
    padding-bottom: 128px

    width: 80%
    margin: 0 auto

.lead-main
    font-size: 32px

    text-decoration: underline
    text-decoration-color: $accent-color
    text-decoration-thickness: 4px
    text-underline-offset: 4px 

    margin-bottom: 12px

.lead-sub
    color: #FFF
    font-size: 18px
    

.child-price 
  color: $accent-color

.navbar-content
    display: flex
    
    align-content: center
    justify-content: center
    text-align: center
    align-items: center 


.navbar-elements
    display: flex
    
    align-content: center
    justify-content: center
    text-align: center
    align-items: center 
    gap: 32px

.navbar-element
    padding: 16px
    color: #FFF
    text-align: center
    font-family: Inter
    font-size: 20px

    text-decoration: none

    display: flex
    align-items: center
    gap: 8px

    position: relative

.navbar-menu
    position: absolute
    display: flex
    opacity: 0
    flex-direction: column

    top: calc(100% + 8px)
    right: 0

    width: 460px

    visibility: hidden
    opacity: 0

    transition: visibility 50ms, opacity 150ms

    background: $bg-input
    border-radius: 12px
    padding: 0 24px

    box-sizing: border-box

    z-index: 999

    &.active
        visibility: visible
        opacity: 1
        

    & .navbar-menu-element
        display: flex
        padding: 24px 0

        align-items: center
        
        &:not(:last-child)
            border-bottom: 1px solid transparentize($outline-color, 0.5)

        & .navbar-menu-element-icon
            height: 100%
            width: 128px

            flex-shrink: 0
            fill: $accent-color

            display: flex
            align-items: center
            justify-content: center

            & svg
                width: 32px
                height: 32px
            

        & .navbar-menu-element-text
            display: flex
            flex-direction: column
            
            text-align: left
            gap: 2px

            justify-content: center
            

            & .navbar-menu-element-header
                font-size: 18px
                font-weight: 500

            & .navbar-menu-element-desc
                font-size: 14px
                color: rgba(255, 255, 255, 0.3)
                font-weight: 300




.profile-text
    padding: 10px
    color: $accent-color
    font-family: Inter
    font-size: 20px
    
    
    

.search-bar-container
    width: 100%
    // height: 75px
    display: flex
    justify-content: center
    align-content: center
    // padding: 10px


.search-bar
    width: 80%

    display: flex
    
    //align-items: center
    background: $secondary-color
    border-radius: 20px
    padding: 16px
    gap: 16px

    box-sizing: border-box
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25)

    position: relative

    &::before
        content: ""
        position: absolute

        top: -1px
        left: -1px
        right: -1px
        bottom: -1px

        background: linear-gradient(216deg, rgba(12, 237, 156, 0.25) 0%, rgba(48, 119, 255, 0.03) 100%)
        z-index: -1

        border-radius: 22px


.date-picker-form
    display: flex
    
    justify-content: space-between
    align-items: center
    text-align: center

    flex: 1
    height: 36px

    background: $bg-input
    border-radius: 15px
    border: none
    color: $outline-color

    padding: 5px
    cursor: pointer

    position: relative

a
    text-decoration: none
    color: inherit

input[type="text"], input[type="email"], input[type="password"]
    display: flex
    
    justify-content: space-between
    align-items: center

    flex: 1
    background: $bg-input
    border-radius: 8px
    border: none

    color: #fff

    padding: 12px


.date-picker-inner
    width: 100%
    display: flex !important
    align-items: center

.accent
    color: $accent-color

.date-picker-calendar
    font-family: "Inter", sans-serif
    
    background: $bg-input
    //border: 1px solid transparentize($accent-color, 0.8)
    border: none
    border-radius: 15px
    
    

    & .react-datepicker__day
        color: #fff

        &:hover
            background: $accent-color-secondary
            color: #fff

        &.react-datepicker__day--selected, &.react-datepicker__day--keyboard-selected
            background: transparentize($accent-color-secondary, 0.5)
            color: #fff

        &.react-datepicker__day--outside-month, &.react-datepicker__day--disabled
            color: rgba(255, 255, 255, 0.3)

        &.react-datepicker__day--today
            color: $accent-color
            background: transparent

    & .react-datepicker__day-name
        color: $accent-color

    & .react-datepicker__header
        background: $bg-input
        border: none
        border-radius: 15px

    & .react-datepicker__current-month
        color: $accent-color

    & .react-datepicker__triangle
        display: none
        &::before, &::after
            border-bottom-color: transparentize($accent-color, 0.8) !important

    & .react-datepicker__navigation-icon::before
        border-color: $accent-color

.input-date
    color: $outline-color
    font-family: Inter
    font-size: 16px
    
    
    display: flex
    align-items: center 
    align-content: center
    justify-content: center
    background-color: transparent
    border: none
    padding: 5px 10px
    width: 100%

    cursor: pointer



.input-date:focus,
input[type="date"]:focus 
    border: none
    outline: none


input[type="date"]::-webkit-calendar-picker-indicator 
    background: none

.open-button 
  position: absolute
  top: 10px
  right: 12px
  width: 25px
  height: 25px
  background: none
  pointer-events: none

  border: none
  background: transparent
  



.date-div
    display: flex
    align-items: center 
    align-content: center
    justify-content: center

.guest-picker-form
    display: flex
    
    justify-content: space-between
    align-content: center
    text-align: center
    background: $bg-input
    border-radius: 15px

    flex: 1

    height: 36px
    padding: 5px
    cursor: pointer

    position: relative



.menu-container-guest
    position: absolute

    top: calc(100% + 8px)
    left: 0

    box-sizing: border-box    
    min-width: 100%
    
    font-size: 16px

    background: $bg-input
    border-radius: 15px

    display: none
    grid-template-columns: 1fr 1fr
    gap: 16px

    text-align: left

    padding: 24px 32px
    cursor: auto

    z-index: 999
    


    &.active
        display: grid

    & .menu-guest-controls
        display: flex
        justify-content: end
        
    & .menu-guest-control
        width: 24px
        display: flex

        justify-content: center
        align-items: center
        line-height: 0

        font-size: 16px

        cursor: pointer

        border: none
        color: #fff

        background: transparent

        &[type='number']
            text-align: center
            cursor: text
            &:focus
                outline: none

        &.menu-guest-control-add
            background: $accent-color
            border-top-right-radius: 6px
            border-bottom-right-radius: 6px
        
        &.menu-guest-control-sub
            background: $outline-color

            border-top-left-radius: 6px
            border-bottom-left-radius: 6px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield




.minus-icon
    height: 15px
    width: 15px

.plus-icon
    fill: #fff
    

    

.date-text
    color: #FFF
    display: flex
    align-items: center

    font-size: 16px
    

    user-select: none
    
    &.placeholder
        color:  $outline-color


.calender-icon
    width: 22px
    height: 22px
    fill: $accent-color
    margin-left: -5px
    margin-top: -2px

.guest-icon
    width: 22px
    height: 22px
    fill: $accent-color
    padding-left: 10px

.icon-help
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 12px
    padding-right: 12px
    // margin-right: -15%


    

.icon-help-guest
    display: flex
    justify-content: center
    align-items: center
    padding: auto

.down-arrow
    //padding: 10px
    width: 16px
    height: 16px
    fill: $accent-color

    transition: transform 100ms

    &.flip
        transform: rotate(180deg)



.guest-form 
  position: relative
  display: inline-block
  cursor: pointer


.guest-text 
  padding: 8px 12px
  border: 1px solid #ccc
  border-radius: 4px
  min-width: 200px
  text-align: left
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  background-color: #fff



.country-picker-form
    display: flex
    
    justify-content: space-between
    align-content: center
    background: $bg-input
    border-radius: 15px

    position: relative
    
    height: 36px

    flex: 1

    padding: 5px
    cursor: pointer

.menu-container 
    position: absolute
    top: 100%
    left: 0
    width: 100%
    max-height: 150px
    overflow-y: auto
    background-color: $bg-input
    border-radius: 15px
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    display: none
    margin-top: 10px

    z-index: 999


.menu-container::-webkit-scrollbar
    width: 10px  
    background: transparent
    border-radius: 15px
    
    

.menu-container::-webkit-scrollbar-thumb
    background: $accent-color
    width: 10px
    border-radius: 15px

    
    

.menu-container.active 
    display: block


.menu 
    list-style: none
    padding: 12px
    margin: 0


.menu-item button 
    color: #fff
    width: 100%
    text-align: left
    font-family: Inter
    padding: 8px 12px
    border: none
    background-color: transparent


.menu-item button:hover 
    color: $accent-color

    
.country-text
    color: #FFF
    display: flex

    justify-content: center
    align-items: center
    align-content: center
    font-size: 16px

    max-width: 150px
    padding-left: 10px

    user-select: none

    &.placeholder
        color: $outline-color

.search-button
    display: flex

    justify-content: center
    align-items: center
    text-align: center

    background: $accent-color
    border-radius: 15px

    outline: none
    border: none

    color: $bg-page
    font-weight: 600
    font-family: inherit
    font-size: 16px

    user-select: none

    flex: 1

    min-height: 48px
    height: 100%

    box-sizing: border-box
    padding: 8px 32px

    transition: background 100ms

    cursor: pointer

.search-button:hover
    background: darken($accent-color, 5%)

.search-button:active
    background: darken($accent-color, 15%)



.content-container
    width: 100%
    height: 80%
    display: flex
    justify-content: center
    align-content: center
    margin-top: 2%
    padding-bottom: 2%

.content-box
    width: 80%
    height: auto
    //overflow: hidden
    background-color: $secondary-color
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border-radius: 15px
    gap: 50px
    padding: 50px
    padding-left: 50px
    box-sizing: border-box

    position: relative

    &::before
        content: ""
        position: absolute

        top: -1px
        left: -1px
        right: -1px
        bottom: -1px

        background: linear-gradient(264deg, rgba(12, 237, 156, 0.25) 0%, rgba(48, 119, 255, 0.03) 100%)
        z-index: -1

        border-radius: 15px


.content-card
    
    background: $bg-card
    border-radius: 15px
    padding: 30px
    box-sizing: border-box
    display: grid
    grid-template-columns: 1fr 2fr
    grid-template-rows: 1fr
    grid-column-gap: 30px


.card-photo
    height: 300px
    width: 400px
    background-color: $outline-color
    border-radius: 5px

.card-content
    display: flex
    flex-direction: column
    
.card-title
    color: #FFF
    font-family: Inter
    font-size: 36px
    
    font-weight: 600
    
    padding: 5px
    padding-bottom: 10px
    border-bottom: 1px solid $outline-color

.error-page-container
    height: 400px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.error-page-text
    font-family: Inter
    font-size: 36px


.card-details
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 40px)
    grid-column-gap: 0px
    grid-row-gap: 0px
    padding: 5px
    padding-bottom: 10px
    border-bottom: 1px solid $outline-color


.card-details-cell
    display: flex
    justify-content: flex-start
    align-items: center
    text-align: center
    align-content: center

.details-text
    padding-left: 10px
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    font-weight: 500
    

.card-desc
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 15px
    grid-row-gap: 0px
    padding: 5px
    padding-top: 15px

.card-long-desc
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    font-weight: 500
    
    

.card-price-cell
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 0px
    grid-row-gap: 0px

.card-price-text
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr 40px
    grid-column-gap: 0px
    grid-row-gap: 0px
    text-align: center

.price
    color: $accent-color-secondary
    font-family: Inter
    font-size: 24px
    
    font-weight: 500
    

.sub-price
    color: #979797
    text-align: center
    font-family: Inter
    font-size: 12px
    
    font-weight: 500
    
    padding-top: 5px

.card-button
    display: flex
    background-color: $accent-color
    color: #fff
    height: 40px
    border: none
    border-radius: 15px
    text-align: center
    align-items: center
    justify-content: center
    font-family: Inter
    font-size: 16px
    
    font-weight: 700
    

.icon-32
    width: 32px !important
    height: 32px !important
    fill: $accent-color
    

.trip-container
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-content: center
    margin-top: 30px

    
.trip-box
    width: 80%
    overflow: hidden
    background-color: $secondary-color
    display: flex
    flex-direction: column
    border-radius: 15px


.trip-photo
    width: 100%
    height: 250px
    background: $bg-card
    
.trip-content-grid
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-rows: 1fr
    grid-column-gap: 25px
    grid-row-gap: 0px

.trip-left-cell
    display: flex
    flex-direction: column
    padding: 30px

.trip-boxes
    display: flex
    
    gap: 20px
    padding-bottom: 30px

.trip-box-info
    padding: 12px 
    border-radius: 5px
    border: 1px solid $outline-color
    color: #FFF
    text-align: center
    font-family: Inter
    font-size: 16px
    
    
    

.trip-subtitle
    color: $accent-color
    font-family: Inter
    font-size: 24px
    
    
    
    padding-bottom: 30px

.padding-top
    padding-top: 30px

.trip-desc
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    
    
    padding-bottom: 30px

.trip-desc-last
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    
    
    padding-bottom: 30px
    border-bottom: 1px solid $outline-color

.trip-box-amenities
    padding: 12px 
    border-radius: 15px
    background: rgba(133, 132, 132, 0.08)
    color: #FFF
    text-align: center
    font-family: Inter
    font-size: 16px
    
    
      

.trip-right-cell
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 250px 1fr
    grid-column-gap: 0px
    grid-row-gap: 0px
    padding: 30px
    padding-top: 0px

.trip-right-cell-photos
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 15px
    grid-row-gap: 15px
    padding-bottom: 30px
    padding-top: 30px

.trip-grid-photo-placeholder
    background-color: $outline-color
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    align-content: center
    border-radius: 10px

.trip-summary
    display: flex
    flex-direction: column
    padding: 20px
    background-color: $bg-card
    border-radius: 15px

.trip-summary-title
    color: #FFF
    text-align: center
    font-family: Inter
    font-size: 24px
    
    font-weight: 500
    
    padding-bottom: 20px

.trip-summary-icons
    display: flex
    
    align-items: center
    // text-align: center
    align-content: center
    gap: 15px
    padding-left: 10px
    padding-bottom: 10px
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    font-weight: 500
    

.trip-price-text
    align-items: center
    padding-bottom: 10px
    
.trip-price-cell
    padding-top: 10px

.trip-buttons
    display: flex
    flex-direction: column
    gap: 15px


.trip-sub-price
    padding-top: 0


.trip-button
    background-color: $accent-color-secondary
    color: black

.trip-boxes-low
    padding-bottom: 0px

.back-button
    padding: 25px
    background-color: transparent
    border: none

.back-arrow
    background: transparent
    padding: 15px
    position: absolute
    top: 50%
    left: 20px

.final-page-container
    height: 100%
    display: flex
    align-content: center
    justify-content: center
    align-items: center

.final-page-box
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 80px
    grid-row-gap: 0px
    padding: 32px
    border-radius: 15px

    background-color: $secondary-color

.final-page-left 
    grid-area: 1 / 1 / 2 / 2
    display: flex
    flex-direction: column
    gap: 30px
    background-color: $bg-card
    padding: 55px
    border-radius: 15px
    width: 400px

.final-page-form-cell
    display: flex
    flex-direction: column
    padding: 2px

.text-input
    border-radius: 10px
    border: 1px solid #636363
    background: #2C2D2E
    height: 40px
    color: #fff
    padding-left: 15px

.text-input-special
    border-radius: 10px
    border: 1px solid #636363
    background: #2C2D2E
    height: 100px
    padding-left: 15px
    color: #fff

.form-label
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    
    
    padding-bottom: 10px


.final-page-right 
    grid-area: 1 / 2 / 2 / 3
    display: flex
    flex-direction: column 
    padding: 15px
    border-radius: 15px
    width: 400px

.final-h1
    color: #FFF
    font-family: Inter
    font-size: 36px
    
    font-weight: 700
    

.final-flight-row
    display: flex
    
    padding: 5px 
    align-content: center
    justify-content: space-between
    align-items: center

.final-flight-cell
    display: flex
    
    align-content: center
    justify-content: center
    align-items: center
    
.flag
    width: 32px
    height: 32px
    margin-right: 15px

        
.icon
    width: 40px
    height: 40px
    margin-right: 15px
    fill: $outline-color


.destination
    color: #FFF
    font-family: Inter
    font-size: 20px
    
    font-weight: 700
    

.details
    color: rgba(255, 255, 255, 0.50)
    font-family: Inter
    font-size: 16px
    
    font-weight: 700
    
    margin-left: 52px
    margin-top: 0

.divide-line
    height: 1px
    background-color: $outline-color
    margin-top: 5px
    filter: brightness(0.7)


.final-icon-cell
    display: flex
    
    align-content: center
    justify-content: flex-start
    align-items: center
    margin-top: 15px
    

.icon-text
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    font-weight: 700
    



.summary-photo
    height: 150px
    width: 300px
    padding: 20px
    background-color: $bg-card
    border-radius: 15px
    align-content: center
    justify-content: center
    align-items: center

.photo-div
    height: 100%
    width: 100%
    border-radius: 15px
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    
.card-icons-summary
    display: flex
    flex-direction: column
    padding-top: 20px
    margin-left: 5%
    

.card-icon-summary
    display: flex
    
    padding: 12px
    padding-left: 35px
    align-items: center
    

.card-icon-text-summary
    color: #FFF
    font-family: Inter
    font-size: 20px
    
    font-weight: 700
    
    padding-left: 15px
    align-items: center 

// .price-summary-div
//     display: flex
//     align-items: center 
//     padding: 12px
//     padding-left: 35px

// .price-summary
//     color: #FFF
//     font-family: Inter
//     font-size: 20px
//     
//     font-weight: 700
//     
//     padding-left: 15px
    
// .price-summary-button-div
//     display: flex
//     align-items: center 
//     align-content: center
//     justify-content: center
//     height: 20%
//     width: 100%
//     padding-top: 25px

.button-summary
    display: flex
    align-items: center 
    align-content: center
    justify-content: center
    color: #FFF
    font-family: Inter
    font-size: 20px
    
    font-weight: 700
    
    background-color: $accent-color
    border-radius: 15px
    border: none
    height: 50px
    margin-top: auto

.button-summary:hover
    filter: brightness(0.8)
    
.button-summary:active
    filter: brightness(0.6)
    
.date-form-component
    display: inline




.date-text 
    padding: 10px





.icon-help 
  cursor: pointer


.date-div
    display: flex
    align-items: center 
    align-content: center
    justify-content: flex-start
    margin-left: -20%



// .final-page-container 
//   position: relative


// .final-page-box 
//   display: flex
//   justify-content: space-between
//   width: 100%
//   max-width: 800px
//   margin: 0 auto
//   padding: 30px
 


/* Add blurred effect when the popup is open */
.final-page-container.blurred .final-page-box 
  filter: blur(5px)
  pointer-events: none


.popup 
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 60%
  height: 60%
  background-color: $bg-page
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  border-radius: 8px
  z-index: 999
  display: flex
  justify-content: center
  align-items: center
  text-align: center


.popup-content 
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center 
    align-content: center
    justify-content: center


.popup button 
    margin-top: 10px
    padding: 8px 16px
    border: none
    cursor: pointer
    display: flex
    align-items: center 
    align-content: center
    justify-content: center
    color: #FFF
    font-family: Inter
    font-size: 16px
    
    
    
    background-color: $accent-color
    border-radius: 15px

.button-summary.inactive
    background-color: grey
    cursor: not-allowed

.countdown
    color: #7c7c7c9a
    font-family: Inter
    font-size: 13px
    
    
    

.card-svg
    width: 24px
    height: 24px
    fill: $accent-color

.static-page-container
    width: 100%
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center
    text-align: center
    align-items: center


.static-page-content
    width: 80%
    display: flex
    flex-direction: column

.static-page-title
    font-family: Inter
    font-size: 64px
    padding: 32px 0px 64px 0px

.question-and-answer
    width: 100%
    display: flex
    flex-direction: column 
    gap: 8px
    margin-bottom: 16px

.question-content
    display: flex
    flex-direction: row
    height: 82px

.answer-content
    display: flex
    flex-direction: row

.question-letter
    display: flex
    flex-direction: column
    align-content: center
    justify-content: center
    font-family: Inter
    font-size: 48px
    padding-right: 24px
    width: 48px
    
    
.question-line
    // height: 82px
    width: 8px
    background: $accent-color
    border-radius: 15px
    margin-right: 16px

.outilne-color
    background: $outline-color

.question-text
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    text-align: left
    font-size: 24px
    background: rgba(119, 119, 119, 0.30)
    padding: 16px
    border-radius: 5px
    width: 100%
    height: auto

.answer
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    font-size: 16px
    background: rgba(119, 119, 119, 0.15)



.page
    position: relative

    & .page-bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100vh
        overflow: hidden
        z-index: -1
        //pointer-events: none

        &::before
            content: ""
            position: absolute
            inset: 0 -500px 220px 0

            opacity: 1         

            background: radial-gradient(140.94% 106.66% at 99.03% 0.00%, rgba(12, 223, 237, 0.16) 0%, rgba(12, 223, 237, 0.16) 0.01%, rgba(12, 237, 156, 0.10) 35.94%, rgba(12, 237, 156, 0.27) 40.63%, rgba(12, 223, 237, 0.08) 48.44%, rgba(36, 36, 36, 0.00) 100%)


        &::after
            content: ""
            position: absolute
            inset: 0 0 0 0

            opacity: 1           

            background: radial-gradient(126.77% 97.63% at 99.03% 0.00%, rgba(12, 223, 237, 0.16) 0%, rgba(12, 223, 237, 0.16) 0.01%, rgba(12, 237, 156, 0.10) 35.94%, rgba(12, 237, 156, 0.27) 40.63%, rgba(12, 223, 237, 0.08) 48.44%, rgba(36, 36, 36, 0.00) 100%)

        & .star-container
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0

            overflow: hidden

        & .star
            position: absolute
            aspect-ratio: 1 / 1
            
            background: $star-color
            border-radius: 50%
            
            &.star-sm
                width: 1px
                box-shadow: 0px 0px 8px 4px $star-color-glow

            &.star-md
                width: 2px
                box-shadow: 0px 0px 8px 5px $star-color-glow

            
            &.star-lg
                width: 3px
                box-shadow: 0px 0px 8px 6px $star-color-glow


.modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

    background: rgba(0, 0, 0, 0.25)
    backdrop-filter: blur(2px)

    display: flex
    justify-content: center
    align-items: center

    & .modal-content
        display: flex
        flex-direction: column
        box-sizing: border-box

        width: 540px
        border-radius: 15px
        background: $secondary-color

        gap: 48px

        position: relative

        &::before
            content: ""
            position: absolute
            top: -1px
            left: -1px
            right: -1px
            bottom: -1px

            z-index: -1

            background: linear-gradient(216deg, rgba(12, 237, 156, 0.25) 0%, rgba(48, 119, 255, 0.03) 100%)

            border-radius: 15px


        & .modal-header
            display: flex
            //justify-content: space-between
            align-items: center
            padding: 32px 48px
            padding-bottom: 0

            gap: 32px

            & .modal-header-text
                font-size: 24px

            & .modal-header-alternative
                font-size: 16px
                color: $accent-color
                margin-left: auto

        & .modal-main
            display: flex
            flex-direction: column
            padding: 0 48px

            gap: 16px
        
        & .modal-footer.modal-footer-action
            padding: 24px 48px
            background: lighten($secondary-color, 3%)
            border-bottom-left-radius: 15px
            border-bottom-right-radius: 15px

            display: flex
            justify-content: space-between
            align-items: center

            & button
                flex-shrink: 1
                flex-grow: 0 



.input-group
    display: flex
    flex-direction: column
    gap: 8px

    & label
        font-size: 16px
        font-weight: 300


@media(max-width: 1200px)
    .final-page-box
        flex-direction: column
        align-content: center
        justify-content: center
        align-items: center

    .final-page-right-col
        width: 500px

    .search-bar 
        flex-direction: column

    .card-details
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: repeat(4, 40px)
        grid-column-gap: 0px
        grid-row-gap: 0px

    .card-desc
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 100px 1fr
        grid-column-gap: 0px
        grid-row-gap: 0px
    
    .card-title
        text-align: center
        font-size: 24px

    .card-long-desc
        // text-align: center
        font-size: 16px

    .content-card
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 300px 1fr
        grid-column-gap: 0px
        grid-row-gap: 30px
        justify-items: center

    .trip-content-grid
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 0px
        grid-row-gap: 0px

    .trip-right-cell-photos
        display: none

    .navbar-logo
        flex-direction: column
        align-items: flex-start  

@media (max-width: 900px) 
    .search-bar 
        flex-direction: column


@media (max-width: 1350px)

 
    .trip-title
        padding: 30px
        padding-left: 60px
        color: #FFF
        font-family: Inter
        font-size: 24px
        
        font-weight: 700
        

    .trip-desc-subtitle
        padding-left: 60px
        color: #3077ff
        font-family: Inter
        font-size: 20px
        
        font-weight: 500
        line-height: norma

    .trip-cell-text
        color: #FFF
        font-family: Inter
        font-size: 14px
        
        font-weight: 700
        
        padding-left: 15px

    // .trip-desc
    //     font-size: 14px

    .final-page-box
        display: flex 
        flex-direction: column 
        align-content: center
        justify-content: center
        align-items: center
        gap: 50px 

    .button-summary
        margin-top: 30px

    .trip-list-element
        font-size: 14px

    .button-container
        margin-top: 55px
        padding-left: 35px


@media (max-width: 576px) 


    .question-letter
        width: 32px

    .question-text
        font-size: 20px

    .answer
        font-size: 16px
    
    .card-photo
        height: 150px
        width: 200px

    .content-card
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 150px 1fr
        grid-column-gap: 0px
        grid-row-gap: 30px
        justify-items: center
        // width: 80%
        padding-bottom: 5px
    
    .details-text
        font-size: 16px
        font-weight: 200

    .card-long-desc
        font-size: 16px
        font-weight: 200

    .card-desc
        grid-template-rows: 200px 1fr
        grid-row-gap: 15px

    .trip-content-grid
        grid-template-rows: 1fr auto

    .trip-left-cell
        bodrer-sizing: border-box
    
    .trip-boxes
        flex-wrap: wrap
        align-content: center
        justify-content: center
        align-items: center

    .trip-desc
        text-wrap: wrap

    .trip-box
        width: auto

    .trip-boxes-low
        padding-bottom: 0px

    .trip-right-cell
        grid-template-rows: auto
        padding-top: 0px

    .trip-photo 
        border-radius: 15px
        

    .trio-content-grid
        grid-template-rows: 2fr 1fr



    .final-page-box
        display: flex 
        flex-direction: column 
        align-content: center
        justify-content: center
        align-items: center
        gap: 50px 
        background-color: transparent

    .final-page-left
        width: 200px

    .final-page-right
        width: 250px

    .final-h1
        text-align: center

    .destination
        font-size: 12px 

    .flag
        width: 24px
        height: 24px

    .details
        font-size: 10px
        margin-left: 45px

    .icon-text
        font-size: 12px

    .button-summary
        margin-top: 30px

    .button-container
        width: 200px
        margin-left: 0
        padding-left:0
        margin-top: 20px

    .trip-icons
        padding-left: 30px
        gap: 20px

    .trip-desc-list
        padding-left: 30px

    .trip-grid-element
        height: 50px

    .trip-box
        background-color: $bg-page

    .navbar-elements
        flex-direction: column
        align-items: flex-start

    .profile-text
        padding: 16px

    .navbar-main-text
        font-size: 18px

    .navbar-sub-text
        font-size: 16px

    .logo-text
        font-size: 32px

    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    // tutaj sie trzeba zastanowic czy ten tekst ma byc na mobile
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    
    .lead
        display: none


    




